<?xml version="1.0" encoding="utf-8"?>
<!--Copyright 2010 NetCatch Team

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.leifandersen.mobile.android.netcatch" 
	android:versionCode="1"
	android:versionName="1.0"
	>
	<application 
		android:icon="@drawable/icon" 
		android:label="@string/app_name"
		android:debuggable="true"
		>
		<activity 
			android:label="@string/app_name" 
			android:name=".activities.NCMain"
			android:theme="@android:style/Theme.NoTitleBar"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity 
			android:theme="@android:style/Theme.NoTitleBar"
			android:name=".activities.ShowsListActivity"/>

		<provider 
			android:name=".providers.ShowsProvider"
			android:authorities="net.leifandersen.provider.Shows"
			/>
			
		<service android:name=".services.RSSService" />

		<activity 
			android:name=".activities.EpisodesListActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			/>
			
		<activity 
			android:name=".activities.QueueListActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			/>
			
		<activity
			android:name=".activities.ColorChoiceDialogActivity"
			android:theme="@android:style/Theme.NoTitleBar" 
			>
			<intent-filter>
				<action android:name="net.leifandersen.mobile.android.netcatch.activities.ColorChoiceDialogActivity" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
			
		<activity android:name=".activities.Preferences" />
	<service android:name=".services.UnsubscribeService"></service>
<service android:name=".services.MediaDownloadService"></service>
<service android:name=".services.MediaPlayerService"></service>
</application>
	
	<uses-sdk android:minSdkVersion="3" />
	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"	/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<supports-screens 
		android:smallScreens="true" 
		android:normalScreens="true" 
		android:largeScreens="true" 
		android:anyDensity="true"
		/>
</manifest> 
